/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}
body {
  background-color: #bbb8b2;
}

nav.navbar {
  margin-bottom: 0 !important;
  background-color: #de9151;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

footer {
  text-align: center;
  background-color: #de9151;

  p {
    margin-bottom: 0;
  }
}
//page loader
.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Home Page

//Hero Section
.hero {
  background-image: url('../src/Images/CoTM.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  // width: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    display: flex;
    height: fit-content;
    color: #de9151;
    align-items: center;
    background-color: #2e2e3ad3;
    padding: 1rem 2rem;
    font-size: 2rem;

    &:hover {
      background-color: #2d2d3a;
      color: #bbb8b2;
    }
  }
}

.who-we-are {
  background-color: #de9151;
  margin: 0;
  padding: 5rem;
  text-align: center;
  color: #2e2e3a;

  p {
    margin: 0;
    padding: 2rem;
  }
}
.retro-camera {
  font-size: 5rem;
  color: #2e2e3a;
}

.cta {
  background-color: #2e2e3a;
  // border-radius: 8rem;
  padding: 5rem 0;
  text-align: center;
}

.description-of-us {
  text-align: center;
  font-size: 1rem;
  // background-color: #de9151;
  border-radius: 2rem;
  margin: 1rem 4rem 0 4rem;
  // padding: 4rem 2.5rem;
  color: #de9151;

  .description {
    margin: 0rem 2rem 1rem;
    padding-bottom: 1rem;
  }
  .spray-can {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #de9151;
  }
  .call-to-action {
    color: #2e2e3a;
    background-color: #de9151;
    padding: 1rem 2rem;
    font-size: 1.5rem;

    &:hover {
      background-color: #de9151ad;
      color: #bbb8b2;
    }
  }
}

.call-to-action {
  padding: 1rem;
  // background-color: whitesmoke;
  border: 0.1rem solid #343434;
  background-color: #2e2e3a;
  border-radius: 1rem;
  color: #fbfbff;

  &:hover {
    background-color: #2e2e3ad3;
    color: #bbb8b2;
  }

  p {
    margin: 0;
  }
}

//Search Page
.search-container {
  display: flex;
  justify-content: center;

  input {
    width: 50%;
    margin-right: 1rem;
    border-radius: 1rem;
  }

  .search-button {
    color: #2e2e3a;
    background-color: #de9151;
    border-radius: 1rem;
  }
}

.no-results-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  color: #2e2e3a;
}

//Mural Details Page
.single-mural {
  color: #2d2d3a;
  .mural-image {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .mural-info {
    display: grid;
    grid-template-columns: 12.5 12.5 12.5 12.5 12.5 12.5 12.5 12.5%;
    align-items: center;
    background-color: #de9151;
    padding: 1rem;
    // justify-content: center;

    h1 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    h5 {
      grid-column-start: 7;
      grid-column-end: 9;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .mural-description {
    background-color: #2d2d3a;
    color: #de9151;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .description {
      // background-color: #de9151;
      padding: 1rem;
      margin: 1rem 5rem;
      // border-radius: 1rem;
    }
  }

  .map {
    background-color: #157a6e;
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding: 1rem 0;

    .map-container {
      grid-column-start: 2;
      grid-column-end: 8;
      height: 20rem;
      width: 100%;
    }
  }
}
