/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}
body {
  background-color: #bbb8b2;
}

nav.navbar {
  margin-bottom: 0 !important;
  background-color: #de9151;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

footer {
  text-align: center;
  background-color: #de9151;

  p {
    margin-bottom: 0;
  }
}
//page loader
.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-uploaded img {
  max-width: 100%;
  height: auto;
}

// Home Page

//Hero Section
.hero {
  background-image: url('../src/Images/CoTM.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  // width: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    display: flex;
    height: fit-content;
    color: #fbfbff;
    align-items: center;
    background-color: #2e2e3ad3;
    padding: 1rem 2rem;
    margin: 1rem;
    font-size: 2rem;

    &:hover {
      background-color: #2d2d3a;
      color: #bbb8b2;
    }
  }
}
.declaration {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 5rem;
  background-color: #2e2e3a;
  align-items: center;
  justify-content: center;
  color: #de9151;

  h1 {
    margin: 0;
    // color: #de9151;
    text-align: center;
  }
  .retro-camera {
    color: #de9151;
    padding-bottom: 1rem;
  }
}
.who-we-are {
  background-color: #de9151;
  margin: 0;
  padding: 5rem;
  text-align: center;
  color: #2e2e3a;

  p {
    margin: 0;
    padding: 2rem;
  }
}
.retro-camera {
  font-size: 5rem;
  color: #2e2e3a;
}

.cta {
  background-color: #2e2e3a;
  // border-radius: 8rem;
  padding: 5rem 0;
  text-align: center;
}

.description-of-us {
  text-align: center;
  font-size: 1rem;
  // background-color: #de9151;
  border-radius: 2rem;
  margin: 1rem 4rem 0 4rem;
  // padding: 4rem 2.5rem;
  color: #de9151;

  .description {
    margin: 0rem 2rem 1rem;
    padding-bottom: 1rem;
  }
  .spray-can {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #de9151;
  }
  .call-to-action {
    color: #2e2e3a;
    background-color: #de9151;
    padding: 1rem 2rem;
    font-size: 1.5rem;

    &:hover {
      background-color: #de9151ad;
      color: #bbb8b2;
    }
  }
}

.call-to-action {
  padding: 1rem;
  // background-color: whitesmoke;
  border: 0.1rem solid #343434;
  background-color: #2e2e3a;
  border-radius: 1rem;
  color: #fbfbff;

  &:hover {
    background-color: #2e2e3ad3;
    color: #bbb8b2;
  }

  p {
    margin: 0;
  }
}

.user {
  display: flex;
  a {
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 1.1rem;
    border-radius: 1rem;
  }
  p {
    margin: 0;
  }
}

//All Murals / Search Page
.search-container {
  display: flex;
  justify-content: center;

  input {
    width: 50%;
    margin-right: 1rem;
    border-radius: 1rem;
  }

  .search-button {
    color: #2e2e3a;
    background-color: #de9151;
    border-radius: 1rem;
  }
}

.no-results-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  color: #2e2e3a;
}

.mural-results {
  color: #2e2e3a;
  ul {
    list-style: none;
    padding: 1rem;
  }
  .image-tile {
    border: 0.1rem solid #2e2e3a;
    border-radius: 1rem;
    // box-shadow: 0.5rem 0.5rem #888888;
    margin: 1rem 0;
    img {
      max-width: 100%;
      height: auto;
      border-radius: 1rem;
    }
    .mural-info {
      text-align: center;
      color: #2e2e3a;
      font-size: 2rem;
    }
  }
  .map-container {
    grid-column-start: 2;
    grid-column-end: 8;
    height: 20rem;
    width: 100%;
    .popup-window {
      height: auto;
      width: 10rem;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

//Mural Details Page
.single-mural {
  color: #2d2d3a;
  .mural-image {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .mural-info {
    display: grid;
    grid-template-columns: 12.5 12.5 12.5 12.5 12.5 12.5 12.5 12.5%;
    align-items: center;
    background-color: #de9151;
    padding: 1rem;
    // justify-content: center;

    .bookmark {
      background-color: #de9151;
      border: none;
      grid-column-start: 1;
      grid-column-end: 3;
      button {
        background-color: #de9151;
        border-radius: 1rem;
        border-color: #2e2e3a;
      }
    }

    h1 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .spray-icon {
      font-size: 3rem;
      // grid-column-start: 6;
      // grid-column-end: 7;
    }
    .artist-info {
      grid-column-start: 8;
      grid-column-end: 9;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      // flex-direction: row-reverse;
      a {
        color: #2e2e3a;
      }
    }
  }

  .mural-description {
    background-color: #2d2d3a;
    color: #de9151;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .description {
      // background-color: #de9151;
      padding: 1rem;
      margin: 1rem 4rem;
      // border-radius: 1rem;
    }
  }

  .map {
    background-color: #157a6e;
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding: 1rem 0;

    .map-container {
      grid-column-start: 2;
      grid-column-end: 8;
      max-width: auto;
      height: 20rem;
    }
  }
}

//Artist Details Page

.artist-page {
  color: #2e2e3a;
  background-color: #2e2e3a;
  .map-container {
    grid-column-start: 2;
    grid-column-end: 8;
    height: 20rem;
    width: 100%;
    .popup-window {
      height: auto;
      width: 10rem;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .artist-information {
    display: grid;
    grid-template-columns: 100%;
    background-color: #de9151;
    a {
      color: #2e2e3a;
    }
  }
  .artist-name {
    .spray-icon {
      font-size: 2rem;
    }
    align-items: center;
    display: flex;
  }

  color: #2e2e3a;
  ul {
    list-style: none;
    padding: 2rem;
    margin: 0;
  }
  .murals {
    padding: 2rem;
    .image-tile {
      border-radius: 1rem;
      // box-shadow: 0.5rem 0.5rem #888888;
      margin: 1rem 0;
      border: 0.2rem solid #157a6e;
      background-color: #de9151;
      img {
        max-width: 100%;
        height: auto;
        border-radius: 0.9rem;
      }
      .mural-info {
        text-align: center;
        color: #2e2e3a;
        font-size: 2rem;
      }
    }
  }
}

//signup page
.sign-up {
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
  margin: 0;
  padding: 10rem 0;
  background-color: #2e2e3a;
  color: #de9151;
}
.image-container img {
  max-width: 100%;
  height: auto;
}

//Login page
.login-form {
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
  padding: 10rem 0;
}

//profile page
.profile-page {
  .map-container {
    grid-column-start: 2;
    grid-column-end: 8;
    height: 20rem;
    width: 100%;
    .popup-window {
      height: auto;
      width: 10rem;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .user-details {
    padding: 0;
    margin: 0;
    background-color: #de9151;
    p {
      margin: 0;
    }
  }
  .liked-murals {
    background-color: #2e2e3a;
    text-align: center;
    padding: 1rem 0 2rem 0;
    h1 {
      padding: 1rem 0 0 0;
      color: #de9151;
    }

    ul {
      list-style: none;
      padding: 2rem;
      margin: 0;
    }
    .image-tile {
      background-color: #de9151;
      border-radius: 1rem;
      // box-shadow: 0.5rem 0.5rem #888888;
      margin: 1rem 0;
      border: 0.2rem solid #157a6e;
      img {
        max-width: 100%;
        height: auto;
        border-radius: 0.9rem;
      }
      .mural-info {
        text-align: center;
        color: #2e2e3a;
        font-size: 2rem;
        p {
          padding: 0rem;
        }
      }
    }
  }
}
