//Artist Details Page

.artist-page {
  color: #2e2e3a;
  background: linear-gradient(5deg, #5b5b76, #2e2e3a);
  .map-container {
    grid-column-start: 2;
    grid-column-end: 8;
    height: 20rem;
    width: 100%;
    .popup-window {
      height: auto;
      width: 10rem;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  //we are trying to  vary the image in docker, disregard this line

  .artist-information {
    display: grid;
    grid-template-columns: 100%;
    background: linear-gradient(140deg, #fcbe8b, #de9151);
    padding: 0 1rem;
    a {
      color: #2e2e3a;
      text-decoration: underline;
    }
    .artist-name {
      .spray-icon {
        font-size: 2rem;
        padding: 0 0.3rem;
      }
      align-items: center;
      display: flex;
    }
  }

  color: #2e2e3a;

  .murals {
    padding: 2rem;
    min-height: 70vh;
    ul {
      display: grid;
      grid-template-columns: 100%;
      list-style: none;
      padding: 2rem;
      margin: 0;
    }
    .image-tile {
      border-radius: 1rem;
      // box-shadow: 0.5rem 0.5rem #888888;
      margin: 1rem 0;
      border: 0.2rem solid #157a6e;
      background-color: #de9151;
      img {
        max-width: 100%;
        height: auto;
        border-radius: 0.9rem;
      }
      .mural-info {
        text-align: center;
        color: #2e2e3a;
        font-size: 2rem;
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 768px) {
  .artist-page {
    .murals {
      padding: 5rem 0;
      ul {
        grid-template-columns: 50% 50%;
        .image-tile {
          margin: 1rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .artist-page {
    .murals {
      ul {
        grid-template-columns: 25% 25% 25% 25%;
      }
    }
  }
}
