//Hero Section
.hero {
  background-image: url('../Images/CoTM.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  // width: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .call-to-action {
    // border-radius: 1rem;
    display: flex;
    a {
      justify-content: center;
      align-content: center;
      text-align: center;
      padding: 1rem 3rem;
      border-radius: 1rem;
    }
    p {
      margin: 0;
    }
  }

  a {
    border-radius: 1rem;

    display: flex;
    height: fit-content;
    color: #fbfbff;
    align-items: center;
    background-color: #2e2e3ad3;
    padding: 1rem 2rem;
    margin: 1rem;
    font-size: 2rem;

    &:hover {
      background-color: #2d2d3a;
      color: #bbb8b2;
    }
  }

  .user {
    display: flex;
    a {
      justify-content: center;
      align-content: center;
      text-align: center;
      padding: 1.1rem;
      border-radius: 1rem;
    }
    p {
      margin: 0;
    }
  }
}
.hp-content {
  display: grid;
  grid-template-columns: 100%;
  .declaration {
    background: linear-gradient(5deg, #5b5b76, #2e2e3a);

    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    margin: 0;
    padding: 5rem;
    // background-color: #2e2e3a;
    align-items: center;
    justify-content: center;
    color: #de9151;

    h1 {
      margin: 0;
      // color: #de9151;
      text-align: center;
    }
    .retro-camera {
      margin-bottom: 2rem;
      font-size: 5rem;
      color: #de9151;
    }
  }
  .who-we-are {
    display: grid;
    grid-template-columns: 100%;
    background: linear-gradient(200deg, #fcbe8b, #de9151);
    margin: 0;
    padding: 5rem 3rem;
    text-align: center;
    justify-items: center;
    color: #2e2e3a;
    h1 {
      font-size: 3.5rem;
    }
    p {
      margin: 0;
      padding: 1rem;
      font-size: 1.5rem;
    }
    .magnifying-glass {
      font-size: 5rem;
      color: #2e2e3a;
    }
  }

  .action-statement {
    background: linear-gradient(5deg, #5b5b76, #2e2e3a);
    // border-radius: 8rem;
    padding: 5rem 0;
    text-align: center;

    .description-of-us {
      display: grid;
      justify-items: center;
      text-align: center;
      border-radius: 2rem;
      margin: 1rem 4rem 0 4rem;
      color: #de9151;

      p {
        margin: 0rem 2rem 1rem;
      }
      .spray-can {
        font-size: 5rem;
        margin-bottom: 1rem;
        color: #de9151;
      }
    }
  }

  .call-to-action {
    padding: 1rem;
    // background-color: whitesmoke;
    border: 0.1rem solid #343434;
    background-color: #2e2e3a;
    border-radius: 1rem;
    color: #fbfbff;

    &:hover {
      background-color: #2e2e3ad3;
      color: #bbb8b2;
    }

    p {
      margin: 0;
    }
  }
}

@media (min-width: 768px) {
  .hp-content {
    grid-template-columns: 50% 50%;
    .declaration {
      padding: 2rem;
      justify-content: space-evenly;
      .retro-camera {
        margin-top: 6rem;
      }
      h1 {
        margin-bottom: 12rem;
      }
    }
    .action-statement {
      grid-column-start: 1;
      grid-column-end: 4;
      background: linear-gradient(5deg, #8cfff2, #0e8e7f);
      padding: 3rem 0;
      .description-of-us {
        margin: 1rem;
        .spray-can {
          color: #2e2e3a;
        }
        .description {
          padding: 0;
          margin: 1rem;
        }
      }
    }
  }
}
