//signup page
.sign-up {
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
  margin: 0;
  padding: 10rem 0;
  background: linear-gradient(5deg, #5b5b76, #2e2e3a);
  color: #de9151;
}
.image-container img {
  background: linear-gradient(180deg, #4dc7b9, #157a6e);
  padding: 4rem 0;
  max-width: 100%;
  height: auto;
}

//Login page
.login-form {
  color: #de9151;
  background: linear-gradient(5deg, #5b5b76, #2e2e3a);
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
  padding: 10rem 0;
}
